<div *ngIf="this.userDetail" class="user-layout">
    <h2>User Details</h2>
    <label>Email</label>
    <p>{{userDetail?.email}}</p>
    <label>First Name</label>
    <p>{{userDetail?.first_name}}</p>
    <label>Last Name</label>
    <p>{{userDetail?.last_name}}</p>
    <div class="grid">
        <label>User Profile</label>
        <span>
            <img src="{{userDetail?.avatar}}">
        </span>
    </div>
</div>