<div class="dropdown-layout">
    <mat-form-field appearance="fill">
        <mat-label>Select User</mat-label>
        <mat-select>
            <mat-option (onSelectionChange)="navigateToUserPage(user.id)" *ngFor="let user of usersList"
                [value]="user.first_name">
                {{user.first_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<!-- <div>
    <label>Select User</label>
    <ng-select [items]="usersList" bindLabel="first_name" bindValue="first_name" dropdownPosition="bottom" appendTo="body"
        [hideSelected]='true' [multiple]="true" [searchable]="true" [virtualScroll]="true"
        (scrollToEnd)="GetMoreData()">
        <ng-template ng-option-tmp let-item="item">
            <div title="{{item.first_name}}">{{item.first_name}}</div>
        </ng-template>
    </ng-select>
</div> -->