.dropdown-layout {
    padding: 40px ;
}
::ng-deep .ng-select .ng-select-container {
    cursor: default;
    display: flex;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 250px !important;
}
::ng-deep .ng-select .ng-select-container {
    border-bottom: 1px solid !important;
    background-color: #f3f3f3 !important;
    border-radius: 0px !important;
    border: 0px solid white;
    min-height: 36px;
    align-items: center;
}
::ng-deep .ng-select .ng-value-container {
    background-color: #f3f3f3 !important;
    border-radius: 0px !important;
    border: 0px solid white;
    min-height: 36px;
    align-items: center;
}
::ng-deep .ng-select .ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border-color: #f3f3f3 !important;
}
::ng-deep .ng-select .ng-arrow-wrapper {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    user-select: none;
}
::ng-deep .ng-select .ng-arrow-wrapper {
    width: 25px;
    padding-right: 5px;
}
::ng-deep .ng-dropdown-panel.ng-select-top .ng-dropdown-panel-items .ng-option:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: yellow;
    color: rgba(0, 0, 0, 0.87);
    padding: 8px 10px;
    width: 250px;
}
::ng-deep ng-select .ng-arrow-wrapper {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    user-select: none;
}
::ng-deep .ng-select .ng-arrow-wrapper {
    width: 25px;
    padding-right: 5px;
}
::ng-deep .ng-select,
.ng-select div,
.ng-select input,
.ng-select span {
    box-sizing: border-box;
}
::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
}
::ng-deep .ng-dropdown-panel .scroll-host {
    width: 250px;
}
